
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="post-Title">Title</label>
    <input type="text" name="postTitle" class="form-control" id="post-Title" />
  </div>
  <div class="form-group">
    <label for="post-Content">Post</label>
    <textarea name="postBody" class="form-control" id="post-Content" rows="5"></textarea>
  </div>
  <button class="btn btn-lg btn-primary" type="submit" name="button">Publish</button>
</form>
